<!-- Esto se utiliza si es una tabla o datos reactivos -->

<div class="contenedor">
    @for(
    recorrer of todoData;
    track recorrer.id;
    let primero = $first;
    let ultimo = $last;
    let par = $even;
    let impar = $odd
    ){
    <app-todo [todoData]="recorrer" [primero]="primero" [ultimo]="ultimo" [par]="par" [impar]="impar"
        (onClickIcon)="getTodoInfo($event)"></app-todo>
   }@empty{
    No hay datos Disponibles
   }
 </div>

    <button class="botoncito" (click)="organzarCard()">Ordenar Cards</button>

    <!-- 
Antigua forma de hacerlo si habia un array vacio
<div class="contenedor">
    <ng-container *ngIf="todoData.length > 0; else sinResultado" >
        <app-todo 
        *ngFor ="let recorrer of todoData;
        let i = index;
        trackBy: trackByFn;
        let primero = first;
        let ultimo = last;
        let par = even;
        let impar = odd"
        [todoData]="recorrer" 
        [primero]="primero"
        [ultimo]="ultimo"
        [par]="par"
        [impar]="impar"
        (onClickIcon)="getTodoInfo($event)"></app-todo>
    </ng-container>
 

</div>

<button class="botoncito" (click)="organzarCard()" >Ordenar Cards</button>


<ng-template  #sinResultado>
    No hay Datos Registrados
</ng-template> -->